# Core functionality - changes here should be rare!
/src/app.py                   @wwy030714
/src/backend/database.py      @wwy030714
/src/backend/routers/auth.py  @wwy030714

# The frontend will need refactored soon to be more object oriented.
/src/static/   @wwy030714
